html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a,
button {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  height: auto;
  display: block;
}
label {
  display: flex;
  justify-content: center;
}
td,
th {
  margin: 0;
  padding: 0;
}
textarea {
  width: 100%;
  resize: none;
  height: 50px;
  &:focus {
    border: black;
  }
}
button:active,
button:focus {
  outline: none;
}
label,
input,
textarea {
  box-sizing: border-box;
  outline: none;
  border: none;
}
input {
  cursor: pointer;
}
body {
  background-color: #000;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  //font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
// COLOR
@gray-light: #f7f7f9;
@red-light: #e63956;
//

// Menu style
.nav {
  .nav-list {
    button {
      margin-left: 10px;
    }
  }
}
//
.title-h1 {
  padding: 10px;
}
.menu-header__left {
  a {
    &:hover {
      transition: all 0.5s;
      text-shadow: 1px 1px 13px rgba(150, 150, 150, 1);
    }
  }
}
.alert-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  .v-alert__content {
    .v-alert__text {
      align-items: center;
      button {
        color: #000;
        margin-left: 10px;
      }
    }
    .v-alert__avatar{
      align-self: center !important;
    }
  }
}

.v-else__buy {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.dialog-buy {
  label {
    font-size: 13px !important;
  }
  .v-card {
    padding: 10px;
  }
}
.else-checkout {
  margin-top: 100px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}